.menuHeader {
  width: 100%;
  background-color: #160f21;
}

.menuProfileSidebar {
  background: white;
  position: fixed;
  z-index: 100;
  padding: 46px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 48px;
  transition: 0.3s;
  pointer-events: "all";
  opacity: 1;
  transform: translateY(0);
}

.menuProfileSidebarClose {
  pointer-events: none;
  opacity: 0;
  transform: translateY(calc(-100% - 48px));
}

.menuProfileSidebar div {
  max-width: 400px;
  margin: auto;
}

.menuProfileSidebar a {
  font-size: 18px;
}

.menuBoxLink {
  font-size: 18px;
  color: #0e0c1f;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-weight: 800;
}

.menuProfileSidebarClose hr {
  margin-top: 12px;
  margin-bottom: 8px;
  border-color: transparent;
  border-bottom-color: #160f21;
}
.menuContainer {
  background-color: #160f21;
  padding: 7px 16px;
  max-width: 1110px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 101;
}

.menuContainer nav {
  display: none;
}

.menuContainer nav a {
  font-size: 12px;
  color: white;
  padding: 10px 16px;
  position: relative;
  text-decoration: none;
}

.menuContainer nav a:after {
  content: " ";
  background-color: #000;
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
}

.menuContainer input {
  color: #ffffff;
  background: #885b80;
  padding: 10px 42px;
  border: 0;
  background-position: 15px center;
  background-repeat: no-repeat;
  border-radius: 1000px;
  font-size: 12px;
}

.menuContainer input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.menuContainer button {
  border: 0;
  background: transparent;
  align-self: center;
  display: inline-block;
}

.menuLogo {
  background-color: #ffffff;
  padding: 9px 14px;
  border-radius: 1000px;
  height: 34px;
}

.menuDefault nav a {
  font-size: 12px;
  color: #2f2644;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.menuDefault nav a img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

@media (min-width: 860px) {
  .menuProfileSidebarClose {
    display: none;
  }

  .menuContainer {
    justify-content: flex-start;
  }
  .menuContainer button {
    display: none;
  }

  .menuContainer nav {
    display: flex;
  }
}
