.orkutNostalgicIconSet {
  margin-top: 32px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.orkutNostalgicIconSet li {
  font-size: 12px;
  color: #5a5a5a;
  display: grid;
  grid-template-areas:
    "title title"
    "number number";
}

.orkutNostalgicIconSet li:mot(:last-child) {
  margin-right: 5px;
}

.orkutNostalgicIconSet li .OrkutNostalgicIconSet__title {
  display: block;
  font-style: italic;
}

.orkutNostalgicIconSet li .OrkutNostalgicIconSet__number {
  min-width: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.orkutNostalgicIconSet
  li
  .OrkutNostalgicIconSet__number
  .OrkutNostalgicIconSet__iconSample {
  margin-right: 7px;
}
