.box {
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 16px;
}
.boxLink {
  font-size: 14px;
  color: #885b80;
  text-decoration: none;
  font-weight: 800;
}

.boxTitle {
  font-size: 32px;
  font-weight: 400;
  margin-top: 20px;
}
.boxSubTitle {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}
.boxSmallTitle {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #371a38;
  margin-bottom: 20px;
}
.box hr {
  margin-top: 12px;
  margin-bottom: 8px;
  border-color: transparent;
  border-bottom-color: #ecf2fa;
}
.box input {
  width: 100%;
  background-color: #faa991;
  color: #333333;
  border: 0;
  padding: 14px 16px;
  margin-bottom: 14px;
  border-radius: 10000px;
}
.box input::placeholder {
  color: #333333;
  opacity: 1;
}

.box button {
  border: 0;
  padding: 8px 12px;
  color: #ffffff;
  border-radius: 10000px;
  background-color: #88392a;
}
